
#content
{
/*
    height: 1000px;
    width: 1000px;
*/
/*    background-color:aqua;*/

    background-color: #eee;
    text-align: center;
    /* border-radius: 20px;
    margin:20px; */
    width: 500px;
    margin: 10px auto;
}
#del{

  border-radius: 5px;
  background: dodgerblue;
  cursor: pointer;
  font-size: 15px;
  color:white;
  width:140px;
}
#edit{

  border-radius: 5px;
  background: dodgerblue;
  cursor: pointer;
  font-size: 15px;
  color:white;
  width:140px;
}
