<html>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
<h2>Edit a particularl user</h2>
<form class="mew-form">
                <label for="name"><b>Name</b></label>
                <input class="u-full-width" type="text" id="name" name="name">
                <label for="age"><b>Age</b></label>
                <input class="u-full-width" type="text" id="age" name="age">
                <label for="gender"><b>Gender</b></label>
                <input class="u-full-width" type="text" id="gender" name="gender">
                <label for="Mob_no"><b>Mob_no</b></label>
                <input class="u-full-width" type="text" id="Mob_no" name="Mob_no">
                <input type="submit" value="SEND">
            </form>
<h2>List all views</h2>
<div id="po">
  <app-pro-x></app-pro-x>
  </div>

  <html>
